<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Billing Management</title>
    <link rel="stylesheet" href="../../Content/Site.css">
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aktorius</p>
        </footer>
    </div>
</body>
</html>
