@model BillingManagement.Web.Models.Company
    
@{
    var Id = Model.Id;
}

<table class="hovertable">
    <tr>
        <th>Company Name</th>
        <th>Sites</th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>

        <td>
            <table class="hovertable">
                @foreach (var site in Model.SitesList)
                {
                    @Html.Partial("_Site", site)
                }       
            </table>
        </td>
        <td>
            @Html.HiddenFor(model => model.Id)
            @Html.ActionLink("Edit", "Edit", new {controller = "Companies", Id})
        </td>
    </tr>
</table>
