@model BillingManagement.Web.Models.Site
    

<tr>
    <th>Name</th>
    <th>Main Site</th>
    <th>Billings</th>
    <th></th>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.Name)
    </td>
    <td>
        @Html.LabelFor(model => model.MainSite)
    </td>
    <td>
        <table class="hovertable">
            @foreach (var billing in Model.Billings)
            {
                @Html.Partial("_Billing", billing)
            }
            
            @Html.ActionLink("Add Billing", "Create", "Billings")
            
        </table>
    </td>
    <td></td>
</tr>

