@model BillingManagement.Web.Models.Site
    

    <li>
        <div>
            @Model.Name
        </div>
        <div>
            Main Site: @Model.MainSite ? "Yes" : "No"
        </div>
    </li>

