@model BillingManagement.Web.Models.Site
    

<tr>
    <th>Name</th>
    <th>Main Site</th>
    <th>Billings</th>
    <th></th>
</tr>
<tr>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.MainSite
    </td>
    <td>
        <table class="hovertable">
            @foreach (var billing in Model.Billings)
            {
                @Html.Partial("_Billing", billing)
            }
        </table>
    </td>
</tr>

