@model IEnumerable<BillingManagement.Web.Models.Company>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var company in Model)
        {
            <li>
                @Html.ActionLink(company.Name, "Details", new {controller ="Companies", id = company.Id})
            </li>
        }
    </ul>
</div>