@model IEnumerable<BillingManagement.Web.Models.Company>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var company in Model)
    {
        @Html.Partial("_Company", company)
    }
    
    <div>
        @Html.ActionLink("Add company", "Create", "Companies")
    </div>
</div>